.app{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
}

form{
  background-color:gray;
  padding:10px;
  border-radius:10px;
}

button{
  width:90%;
  height:50px;
  padding:10px;
  border:none;
  background-color:white;
  border-radius:5px;
  cursor:pointer;
  margin:10px;
}

.formInput{
  display:flex;
  flex-direction:column;
  width:280px;
}

input{
  padding:15px;
  margin:10px 0px;
  border-radius:5px;
  border:1px solid gray;
}

label{
  font-size:18px
}

span{
  font-size:12px;
  padding:3px;
  color:red;
  display:none;
}

input:invalid ~ span{
  display:none;
}

input:invalid[focused="true"] ~ span{
  display:block
}